/* root */

:root {
    --color-white: #ffffff;
    --color-bg-color: #d9d9d9;
    --color-primary: #7c69a4;
    --color-dark-text: #4e3969;
    --color-black: #282529;
    --color-contrast: #fa961a;
    --color-icon-red: #ea5556;
    --color-icon-blue: #2871f0;
}

/* fonts */


.montserrat- {
    font-family: "Montserrat",
        "Helvetica Neue",
        sans-serif
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}


/* General */


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {

    font-family: "Montserrat",
        "Helvetica Neue",
        sans-serif
}

span {

    font-weight: bold;
}


img {

    width: 100%;

}

a,
iframe {

    text-decoration: none;
    display: block;
}

header,
footer,
main {

    padding: 20px;
}

/* UTILITIES START */

/* flex */

.d-flex {

    display: flex;

}

.column {

    flex-direction: column;
}

.wrap {

    flex-wrap: wrap;
}

.j-center {

    justify-content: center;
}

.ai-center {

    align-items: center;
}

.sp-between {

    justify-content: space-between;
}

.a-center {

    align-items: center;
}

.wrap {

    flex-wrap: wrap;
}


/* display */

.d-none {

    display: none;
}

/* background */

.bg-white {

    background-color: var(--color-white);


}

.bg-primary {

    background-color: var(--color-primary);
}

/* text */

.txt-grey {

    color: grey;
}

.txt-white {

    color: var(--color-white);
}

.txt-grey {

    color: grey;
    font-size: 1.5em;
}

/* spacer */

/* PADDING */

.pd-5 {

    padding: 5px;
}

.pd-15 {

    padding: 5px;
}


.pd-top-15 {

    padding-top: 15px;
}

.pd-top-20 {

    padding-top: 20px;
}

.pd-top-30 {

    padding-top: 30px;
}

.pd-bot-5 {

    padding-bottom: 5px;
}

.pd-bot-15 {

    padding-bottom: 15px;
}

.pd-bot-30 {

    padding-bottom: 30px;
}

/* MARGIN */

.mg-bot-5 {

    margin-bottom: 5px;


}

/* GAP */

.gap-a-footer {

    gap: 15px 15px;
}

.gap-5 {

    gap: 5px;
}




/* header */


header,
footer {

    min-height: 70px;
}




h1>a {

    color: var(--color-contrast);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 1.5em;
    /* font */
}

/* main */


main {

    background-color: var(--color-bg-color);
}

.container {

    max-width: 1200px;
    margin: 0 auto;
}

/* video */

.video {

    width: 100%;
    aspect-ratio: 16 / 9;
}

.info {

    background-color: var(--color-white);
    padding: 30px 15px;
    width: 100%;
}


.info li {

    font-size: 1.3em;
}

/* social links */

div.social-links>ul {

    width: 100%;
}

div.social-links>ul>li {

    padding: 15px 15px 15px 15px;
    border-radius: 20px;

    background-color: var(--color-white);
}

.social-links a {

    color: black;
}

/* aside */


aside {

    display: none;
}

/* article */

article h3 {

    text-transform: uppercase;
}

hr {

    width: 50px;
    border: 1px solid red;

}

article .s-img {

    width: 50%;
    margin: 0 auto;
}

/* footer*/

footer {

    padding: 15px 25px 15px 25px;
    color: var(--color-white);

}

footer a {

    color: var(--color-white);
    text-decoration: underline;
    font-size: 0.7em;
}

.footer-container {

    max-width: 90%;
}

.footer-info {

    padding-bottom: 15px;
}

.address {

    font-size: 0.7em;

}






/* media query */

/* bonus */

/* @media screen and (min-width: 576px) {} */

@media screen and (min-width: 768px) {

    /* header */

    header.j-space-between {

        justify-content: space-between;
    }

    h1>a {

        font-size: 1.7em;
    }

    /* main */

    main {

        padding: 40px;
    }

    /* video */

    .txt-ghost {

        display: inline-block;
    }

    .info>ul {

        display: flex;
        flex-wrap: wrap;
        gap: 25px;

    }

    .info li {

        width: calc((100% - 50px) / 3);


    }

    /* social-links */

    div.social-links>ul>li {

        padding: 15px 40px 15px 40px;
    }

    /* aside */


    aside {

        display: block;
    }

    /* article */

    article .s-img {

        float: left;
        width: 30%;
        padding-right: 15px;

    }

    article .s-img:after {

        clear: both;
        display: block;
        content: "";


    }

    .content {

        width: 100%;
    }

    /* footer */

    .footer-container {

        max-width: 100%;
    }

    footer {

        padding-bottom: 35px;
    }
}

@media screen and (min-width: 992px) {

    /* tool */

    .j-space-between {

        justify-content: space-between;
    }

    /* header */

    h1>a {

        font-size: 1.9em;
    }

    /* video */

    .video {

        width: 60%;
    }

    .info {

        width: 40%;
    }

    .info ul {

        display: block;
    }

    .info li {

        width: 100%;
        padding-bottom: 15px;
    }

    /* link social */

    div.social-links span {

        display: inline-block;
    }

    /* footer */

    footer {

        justify-content: center;
        padding-bottom: 15px;
    }

    .footer-container {

        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .gap-a-footer {

        gap: 15px;
    }

    footer ul {

        align-items: center;
    }

    .footer-info {

        justify-content: center;
        padding-bottom: 0;

    }


}